#!/usr/bin/make -f

# Minimal rules file using debhelper.
# Override dh_install to explicitly place the script correctly.

export DEB_BUILD_MAINT_OPTIONS =hardening=+all

# Explicitly override dh_install to place the script correctly
override_dh_install:
	# Create the target directory inside the package staging area
	install -d debian/apt-world/usr/bin/
	# Install the script to the target directory, renaming it, setting permissions
	install -m 755 apt_world.py debian/apt-world/usr/bin/apt-world

%:
	dh $@ --with python3

